body {
    min-height: 3000px;
}

.jumbotron {
    padding: 6 rem;
    background-color: rgb(122, 122, 213);
}

#projects {
    background-color: hsl(226, 89%, 48%);
}

section {
    padding-top: 5rem;
}